:root {

--deep-teal: #5a7d7cff;
--lavender: #dadff7ff;
--jet-black: #232c33ff;
--powder-blue: #a0c1d1ff;
--pale-slate: #b5b2c2ff;
}

body {
  background-color: Purple;
  background-image:
    linear-gradient(to right, rgba(0,0,0,0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}
body {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}
h1 {
  color: var(--deep-teal);
}

.col {
  border: 1px solid red;
}
